#Layout {
    -fx-grid-lines-visible: false;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 12;
    -fx-background-color:  orange;
}

#Buttons {
    -fx-pref-columns: 6;
    -fx-pref-tile-width: 75;
    -fx-hgap: 5;
    -fx-vgap: 5;
    
}

.button {
    -fx-font: bold 16pt "courier new";
    -fx-background-color:  green;
}


